# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
myenv/
venv/
env/
.venv/

.backend/myenv/

# Base de données SQLite
*.db
*.sqlite3

# Variables d'environnement
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Logs
*.log